html {
  height: 100%;
}

body {
  background-color:#383d41;
  min-height: 100%;
  position:absolute; 
  top:0; 
  bottom:0; 
  right:0; 
  left:0;
}

#logoPrincipal {
  height: 35px;
  padding-right: 40px;

}

.navbar {
 box-shadow: 1px 1px 10px #0c0c0c;
    z-index: 1020;
}

#calenPrg {
align: center;
}

.k-calendar {
    border-color: #dee2e6;
    color: #212529;
    background-color: #fff!important;
}

.jumbotronModify {
  padding: 1rem 0.5rem!important;
  margin-bottom: 2rem;
  background-color: #eceeef;
  border-radius: 0.3rem;
}

.jumbotronModify hr {
  border-top-color: #d0d5d8;
}

.jumbotronModify fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

calendar .k-content .k-state-disabled {
    opacity: .99!important;
}
